<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>INDEX</title>
</head>
<body>

<h1>Secured Login</h1>

<form action="/process" method="POST">
    <br>
    <label for="fer">Username / Email</label>
    <input type="text" name="firster" id="fer" placeholder="Username / Email">
    <br>
    <br>

    <label for="ler">Password</label>
    <input type="password" name="laster" id="ler" placeholder="Password">
    <br>
    <br>

    <!--<input type="submit">-->
    <button>
        <h1>Secured Login</h1>
    </button>
</form>


</body>
</html>